<div class="row">
    <div class="col text-center">
        <ng-template #selectEmpty>
            <p class="h3"><i class="pi pi-user color-text-empresa font-2rem"></i> Bienvenida LAURA CAMILA ALVAREZ BARAHONA</p>
        </ng-template>
    </div>
</div>
<div class="row mt-3 navbar navbar-expand-sm navbar-light bg-light border-bottom border-bottom-dark navbar-shadow">
    <div class="col">
      <p-carousel [value]="documentFrames" [numVisible]="1" [circular]="true" [autoplayInterval]="5000">
        <ng-template let-documentFrame pTemplate="carouselItem">
          <iframe [src]="documentFrame.src" width="100%" height="500px"></iframe>
        </ng-template>
      </p-carousel>
    </div>
  </div>