<div class="row">
    <div class="col text-center">
        <p class="h3">Gestión de documentos</p>
    </div>
</div>
<div class="row mt-3 align-items-center justify-content-center">
    <div class="col-10 col-md-8 col-sm-10">
        <p-dropdown class="form-control form-item-control card-img-bottom" 

            pTooltip="Seleccione un tipo de examen para poder visualizar el cuadro de carga.">

                <div class="flex align-items-center gap-2">

                </div>
        </p-dropdown>
    </div>
</div>

<div class="row mt-3 align-items-center justify-content-center">
    <div class="col-10 col-md-8 col-sm-10">
        <h4>Subir Documento</h4>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Seleccionar archivo..." readonly>
            <span class="p-inputgroup-addon">
                <i class="pi pi-upload"></i>
            </span>
        </div>
        <button pButton type="button" label="Cargar" class="p-button-success"></button>
    </div>
</div>