
<div class="custom-card" *ngIf="uploadView === 'FALSE' && attachedView === 'FALSE'">
  <div class="card-content">
    <p class="h3">Estimad@</p>
    <p class="h5">
      Lamentablemente no cuenta con acceso autorizado para visualizar esta
      sección. Le recomendamos que se comunique con el área de mantenimiento de
      sistemas para verificar sus permisos y brindarle la asistencia necesaria.
    </p>
    <img src="assets/resources/stop.jpg" alt="Imagen de parada" />
  </div>
</div>

<div *ngIf="uploadView === 'TRUE'">
  <div class="row">
    <div class="col text-center card-body">
      <p class="h3">¡Importante!</p>
      <p class="h5" style="text-align: justify">
        Es importante tener claridad si los documentos a cargar están separados
        en diferentes archivos PDF o si todos están compilados en un único PDF
        con todos los exámenes solicitados. En caso de que todos los exámenes
        estén en un solo PDF, por favor seleccione la opción "Único". De lo
        contrario, seleccione la opción "Múltiple".
      </p>
      <div class="col text-center ">
        <p-selectButton
          [options]="[
            { label: 'Múltiple', value: 'several' },
            { label: 'Único', value: 'only' }
          ]"
          [(ngModel)]="valuePDF"
          optionLabel="label"
          optionValue="value"
          optionDisabled="constant"
          (onChange)="handlePDFSelection($event)"
        ></p-selectButton>
      </div>
    </div>
    
  </div>


  <div
    class="row mt-3 align-items-center justify-content-center"
    *ngIf="valuePDF === 'several' || valuePDF === 'only'"
  >
    <ng-container *ngFor="let test of testsRequired; let i = index">
      <div class="col-12 col-md-6 col-lg-4 mt-3">
        <div class="card shadow-sm rounded">
          <div class="card-body custom-file-upload">
            <h5 class="card-title">{{ test.prdDescripcion }}</h5>
            <p class="card-text">
              <i class="pi pi-file-pdf" style="font-size: 2rem"></i
              >{{ test.prdProducto }}
            </p>

            <!-- Input oculto de tipo file -->
            <input
              type="file"
              #fileInput
              style="display: none"
              (change)="handleFileInput($event, i)"
            />

            <!-- Botón "Cargar examen" -->
            <button
              type="button"
              pButton
              label="Cargar examen"
              icon="pi pi-cloud-upload"
              iconPos="right"
              class="btn btn-success"
              (click)="fileInput.click()"
              style="margin: 5px"
            ></button>

            <!-- Tarjeta con nombre de archivo seleccionado -->
            <p-card
              [header]="selectedFileNames[i] ? 'Archivo seleccionado' : ''"
            >
              <h5>
                {{ selectedFileNames[i] || "No hay archivo seleccionado" }}
              </h5>
            </p-card>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="attachedView === 'TRUE'" style="margin-top: 40px;">
<div class="custom-card " >
  <div class="card-content">
    <p class="h3">Módulo de Carga de Anexo al Examen Médico</p>
    <p class="h5">
      En este módulo solo deben participar el Director de Talento Humano, la
      Coordinadora de Medicina Laboral y el Profesional Jurídico SST, con el fin
      de cargar el anexo al examen médico para el "Cliente Aprobado". Por favor,
      ingrese el documento de aprobación por parte del cliente. Este no debe
      superar los 5 MB y debe ser de tipo PDF.
    </p>
    <div >
      <p-fileUpload
      mode="basic"
      chooseLabel="Cargar anexo de aprobación"
      chooseIcon="pi pi-cloud-upload"
      name="demo[]"
      accept=".pdf"
      (onSelect)="onFileUpload($event)"
      [auto]="true"
      [maxFileSize]="5000000"
    ></p-fileUpload>
  </div>
</div>
</div>


  

