// Importar mixins y otras dependencias
@import 'src/assets/styles/_mixins.scss';



// Estilos específicos para el componente 'app-tipificacion'
app-upload {
    width: 51%;
    display: block;

    @include tablet() {
        width: 80%;
    }

    @include mobile() {
        width: 100%;
    }

    // Agregar imagen de fondo
    background-image: url('../assets/resources/fondo.jpg');
    background-size: cover; // Para cubrir todo el área del elemento
}
