<head>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="message">
                Sesión expirada o sin autorización.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="neon">403</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-12">
            <div class="message2">
                Estás intentado acceder a un módulo al que no tienes permiso, o tu sesión ha expirado.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-12">
            <div class="door-frame">
                <div class="door">
                    <div class="rectangle">
                    </div>
                    <div class="handle">
                    </div>
                    <div class="window">
                        <div class="eye">
                        </div>
                        <div class="eye eye2">
                        </div>
                        <div class="leaf">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>